# Homework Introduction to Python

$\textbf{Ubah nama di bawah yaa!}$

- Nama: Yudha Mulyana
- IPK Smester 4: 3.89

In [ ]:
import numpy as np
import pandas as pd
# please import as much as you need

# Normal

## 1. Operasi Variabel

> Misal kita memiliki toko sepatu. Modal membeli 1 kodi sepatu adalah Rp 1.000.000. Setiap sepatu dijual seharga Rp 80.000. Buatlah variabel modal, kuantitas, dan harga_jual sesuai informasi di atas. Hitung profit yang didapatkan jika semua sepatu berhasil terjual, dan masukkan ke variabel profit.

Saran langkah-langkah pengerjaan
1. Convert terlebih dahulu kodi dalam jumlah barang (1 kodi = xyz buah sepatu)
2. Gunakan operasi matematika sederhana untuk menghitung profit menggunakan tiga buah variabel yang sudah ditentukan

In [2]:
# your code goes here!
kodi=240
modal=1000000
kuantitas=1*kodi
harga_jual=80000

profit=(kuantitas*harga_jual)-modal
print(profit)

18200000

Jadi, dari profit di atas, dapat disimpulkan bahwa toko sepatu memiihi profit Rp,18.200.000

## 2. Package Python dan Dictionary

> Kita akan coba mengakses data scientific article dari PLOS corpus
    Menggunakan API request dengan kode berikut :
```
import requests
response = requests.get('http://api.plos.org/search?q=title:"Drosophila" AND body:"RNA"&fl=id,abstract')
```
**perhatikan tanda kutipnya tidak salah ketika meng-copy ke dalam python

Pertanyaannya :
Convert response.content dari request tersebut dari JSON Format ke dalam Dictionary, dan print-kan key di dalamnya apa saja

Saran langkah-langkah pengerjaan
1. Ikuti code dari soal, kemudian ekstrak value dari variable response menggunakan dot (.) content menjadi sebuah variabel baru (dictionary)
2. Gunakan library json, convert hasil content menggunakan json.loads
3. Print keys dari dictionary tersebut

In [5]:
# your code goes here!
import requests
response = requests.get('http://api.plos.org/search?q=title:"Drosophila" AND body:"RNA"&fl=id,abstract')

# Mengubah response.content menjadi dictionary menggunakan json.loads
import json
response_data = json.loads(response.content)

for key in response_data.keys():
    print(key)

response

Jadi, dari url link di atas, kami menyimpulkan bahwa memiliki keys response

# Intermediate

## 3. Operasi dalam List

> Buatlah list dengan 10 nama kota di indonesia, kemudian:
1. Urutkan nama kota di dalam list berdasarkan abjad (a)
2. Ambil 4 kota pertama dari list tersebut (yang telah diurutkan) (b)
3. Ambil 3 kota terakhir dari list tersebut (yang telah diurutkan) (c)

Saran langkah-langkah pengerjaan
1. Tidak ada ketentuan nama kota (misal berdasarkan provinsi X atau pulau Y), dibebaskan untuk memilih. Buat nama-nama kota tersebut dalam sebuah list.
2. Gunakan fungsi sorted(X) untuk mengurutkan secara kecil-ke-besar (sesuai abjad), dimana X adalah contoh variabel list pada langkah (a)
3. Gunakan hasil poin (a), urutkan nama kota di dalam list berdasarkan abjad, untuk mengerjakan poin (b) dan (c).

In [12]:
# your code goes here!
kota=['demak','semarang','kudus','pati','jepara','jakarta','bali','bandung','magelang','sumatera']

sort=sorted(kota)
print(sort)
#Ambil 4 kota pertama dari list tersebut (yang telah diurutkan) (b)
print(sort[:4])

#Ambil 3 kota terakhir dari list tersebut (yang telah diurutkan) (c)
print(sort[7:])

['bali', 'bandung', 'demak', 'jakarta', 'jepara', 'kudus', 'magelang', 'pati', 'semarang', 'sumatera']
['bali', 'bandung', 'demak', 'jakarta']
['pati', 'semarang', 'sumatera']

Jadi, dari operasi list di atas, dapat disimpulkan bahwa :<br>
point a=['bali', 'bandung', 'demak', 'jakarta', 'jepara', 'kudus', 'magelang', 'pati', 'semarang', 'sumatera']<br>
point b=['bali', 'bandung', 'demak', 'jakarta']<br>
point c=['pati', 'semarang', 'sumatera']

## 4. Function dalam List

> Team sales memiliki list total transaksi dari 10 merchant pada bulan Juni 2020, yaitu:
```
total_transaksi = [ 19, 35, 23, 25, 10, 15, 33, 45, 21, 30 ]
```
1. Trx minimum
2. Rata-rata
3. Trx maksimal

Saran langkah-langkah pengerjaan
1. Copy variabel total_transaksi yang ada di soal ke notebook kita (atau ketik ulang boleh)
2. Kemudian, hitung menggunakan function operasi dalam list yang telah dipelajari di kelas pada topik list. Print hasilnya setiap poin (a), (b), dan (c)

In [16]:
# your code goes here!
total_transaksi = [ 19, 35, 23, 25, 10, 15, 33, 45, 21, 30 ]
Trx_minimum=min(total_transaksi)
Ratarata=sum(total_transaksi)/len(total_transaksi)
Trx_maksimal=max(total_transaksi)

print(Trx_minimum)
print(Ratarata)
print(Trx_maksimal)

10
25.6
45

Jadi, dari hasil operasi list di atas, dapat disimpulkan bahwa nilai minimal 10, max 45, rata-rata 25.5

# Advanced

## 5. NumPy Array

> Buatlah array dari 5 bilangan ganjil pertama (dimulai dari 1), Kemudian lakukan perintah berikut :
1. Kali-kan array tersebut dengan 10
2. Bagi-kan array (hasil dari bagian a) dengan 3
3. Kali-kan array (hasil dari bagian b) dengan array baru :
`[-45, 43, 3, 56, 5]`
4. Carilah pada index ke-berapa nilai tertinggi dan terendah dari array (hasil dari bagian c)

Saran langkah-langkah pengerjaan
1. HATI-HATI dalam pengerjaan, karena apabila poin sebelumnya salah, maka selanjutnya akan kebawa salah (misal (b) salah, maka poin (c) sampai (d) akan salah)
2. Untuk array 5 bilangan ganjil pertama boleh manual boleh menggunakan fungsi, dimulai dari 1
3. Ikuti perintah soal, gunakan numpy array, jangan list. Sesuaikan dengan permintaan soal pada setiap butir.

In [25]:
# your code goes here!
import numpy as np
ganjil=np.array([1,3,5,7,9])

#Kali-kan array tersebut dengan 10
x10=ganjil*10
print(x10)

#Bagi-kan array (hasil dari bagian a) dengan 3
bagitiga=x10/3
print(bagitiga)

#Kali-kan array (hasil dari bagian b) dengan array baru : [-45, 43, 3, 56, 5]
baru=np.array([-45, 43, 3, 56, 5])
arraybaru=bagitiga*baru
print(arraybaru)

#Carilah pada index ke-berapa nilai tertinggi dan terendah dari array (hasil dari bagian c)
tertinggi=np.argmax(arraybaru)
terendah=np.argmin(arraybaru)
print(tertinggi)
print(terendah)

[10 30 50 70 90]
[ 3.33333333 10.         16.66666667 23.33333333 30.        ]
[-150.          430.           50.         1306.66666667  150.        ]
3
0

Jadi, dari hasil operasi numpy di atas, dapat disimpulkan bahwa index array tertinggi pada hasil semua langkah perhitungan array adalah index ke 3 sedangkan yang terendah ada pada index ke 0

# Terimakasih, salam dari Yudha Mulyana (Demak)